.gallery__container {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.gallery__content {
    position: relative;
}
.gallery__title {
    color: #FFF;
    font-size: 22px;
    letter-spacing: -0.66px;
    text-transform: uppercase;
    position: absolute;
    top: 67px;
    left: 124px;
    z-index: 100;
}

.gallery__slides {
    height: 717px;
    position: relative;
}
.gallery__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.gallery__slide_active {
    opacity: 1;
}
.gallery__slide-description {
    width: 443px;
    font-size: 30px;
    color: #FFF;
    position: absolute;
    top: 575px;
    left: 125px;
}
.gallery__slide-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.apartment_img {
    background-image: url("../resources/img/apartment.png");
}
.living-room_img {
    background-image: url("../resources/img/living-room.png");
}
.kitchen-living-room_img {
    background-image: url("../resources/img/kitchen-living-room.png");
}
.kichen-scandinavian_img {
    background-image: url("../resources/img/kichen-scandinavian.png");
}

.gallery__controls-wrapper {
    position: absolute;
    bottom: 162px;
    left: 125px;
    
}
.gallery__control-prev,
.gallery__control-next {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .gallery__container {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .gallery__slides {
        height: 536px;
    }
    .gallery__title {
        font-size: 20px;
        letter-spacing: -0.6px;
        top: 80px;
        left: 50px;
    }
    .gallery__controls-wrapper {
        position: absolute;
        bottom: 152px;
        left: 50px;
    }
    .gallery__slide-description {
        width: 377px;
        font-size: 25px;
        top: 388px;
        left: 50px;
    }
}
@media (max-width: 425px) {
    .gallery__slides {
        height: 408px;
    }
    .gallery__title {
        font-size: 14px;
        letter-spacing: -0.42px;
        top: 61px;
        left: 12px;
    }
    .gallery__controls-wrapper {
        position: absolute;
        left: 0px;
        bottom: 50%;
        width: 100%;
    }
    .gallery__controls {
        display: flex;
        justify-content: space-between;
        padding-left: 13px;
        padding-right: 13px;
     }
    .gallery__slide-description {
        width: 287px;
        font-size: 19px;
        top: 296px;
        left: 13px;
    }
}