.body_fixed {
  overflow: hidden;
}
/* .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    
}
.popup_open {
    display: flex;
} */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.popup_open {
  opacity: 1;
  visibility: visible;
}
.popup__content {
   position: relative;
   max-width: 777px;
   max-height: 100%;
   margin: 0 auto;
   overflow-y: scroll;
   border-radius: 10px;
   background-color: #fff;
   padding: 94px 79px 86px 55px; 
}
.popup__title {
  color: #000;
  text-align: center;
  font-size: 45px;
  line-height: 70px;
  font-weight: 400;
  letter-spacing: -1.35px;
  margin-bottom: 4px;
}
.popup__subtitle {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.54px;
  margin-bottom: 60px;
}
.popup__close-btn img {
  position: absolute;
  color: #000;
  top: 32px;
  right: 34px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.popup__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.popup__input-wrapper input {
  width: 100%;
  box-sizing: border-box;
  display: block;
  font-size: 25px;
  line-height: 50px;
  border: none;
  border-bottom: 2px solid gray;
}

.popup__input-wrapper input:focus {
  outline: none;
}

.popup__submit-btn {
  background: #ad1818;
  padding: 20px 40px;
  width: 100%;
  font-size: 20px;
  letter-spacing: -0.6px;
  color: #fff;
  border-radius: 5px;
  margin-top: 80px;
}
.popup__submit-btn:hover {
  cursor: pointer;
  color: #ad1818;
  background: none;
  border: 1px solid #ad1818;
}

@media (max-width: 425px) {
  .popup__content {
    width: 100%;
    padding: 80px 16px 80px 24px;
  }
  .popup__title {
    font-size: 25px;
    letter-spacing: -0.75px;
    line-height: normal;
    margin-bottom: 11px;
  }
  .popup__subtitle {
    max-width: 243px;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 1.05px;
    margin-bottom: 70px;
  }

  .popup__close-btn img {
    top: 40px;
    right: 29px;
    width: 30px;
    height: 30px;
  }

  .popup__input-wrapper input {
    width: 100%;
    font-size: 18px;
    line-height: 40px;
  }
  .popup__submit-btn {
    width: 100%;
    margin-top: 60px;
  }
}
