.main__projects_container {
    width: 1150px;
    margin: 0 auto;
    margin-bottom: 150px;
}
.subtitle_projects {
    color: #121212;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.item__img {
    width: 100%;
    height: 450px;
    flex-shrink: 0;
    margin-bottom: 15px;
}
.item__description {
    color: #121212;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.9px;
    margin-bottom: 15px;
}
.detail {
    color: #AD1818;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.6px;
    text-decoration: none;
}

.item {
    margin-bottom: 90px;
}

.view_all_project {
    box-sizing: border-box;
    width: 1150px;
    height: 153px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #AD1818;
    margin-bottom: 150px;
    line-height: 150px;
}
.btn_view-all-projects {
    padding: 56px 0;
    width: 100%;
    font-size: 30px;
    letter-spacing: -0.9px;
    line-height: normal;
    background: none;
    color: #AD1818;
    border-radius: 5px;
    border: 1px solid #AD1818;
}
.btn_view-all-projects:hover {
    background: #AD1818;
    cursor: pointer;
    color: #FFF;
}
/* media main__projects_container ------------------------------------- */
@media (max-width: 960px) {
    .main__projects_container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 100px;
    }
    .item {
        margin-bottom: 80px;
    }
    .item__img {
        width: 100%;
    }
    .item__description {
        font-size: 25px;
        letter-spacing: -0.75px;
        margin-bottom: 10px;
    }
    .last-item {
        margin-bottom: 100px;
    }
}
@media (max-width: 425px) {
    .main__projects_container {
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 100px;
    }
    .item {
        margin-bottom: 49px;
    }
    .last-item {
        margin-bottom: 60px;
    }
    .item__img {
        height: 250px;
        margin-bottom: 20px;
    }
    .item__description {
        font-size: 18px;
        letter-spacing: -0.54px;
        margin-bottom: 10px;
    }  
}