@import "./popup.css";

.services {
  background-color: #121212;
  margin-bottom: 150px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.services__subtitle {
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.54px;
  padding-bottom: 30px;
}
.services__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 145px;
  margin-bottom: 170px;
}
.services__img-block {
  position: relative;
  width: calc(50% - 5px);
  height: 388px;
}

.services__img {
  width: 100%;
  height: 100%;
}
.services__price {
  padding: 5px 20px;
  border-radius: 5px;
  background: #ad1818;
  position: absolute;
  color: #fff;
  font-size: 22px;
  letter-spacing: -0.66px;
  top: 31px;
  left: 30px;
}
.services__img-description {
  color: #fff;
  font-size: 30px;
  letter-spacing: -0.9px;
  margin-top: 25px;
}
.services__order-btn {
  background: #ad1818;
  padding: 56px 0;
  width: 100%;
  font-size: 30px;
  letter-spacing: -0.9px;
  line-height: normal;
  color: #fff;
  border-radius: 5px;
}
.services__order-btn:hover {
  cursor: pointer;
  color: #ad1818;
  background: none;
  border: 1px solid #ad1818;
}

@media (max-width: 1200px) {
  .services__container {
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media (max-width: 960px) {
  .services {
    padding-bottom: 120px;
  }
  .services__container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .services__content {
    row-gap: 129px;
  }
  .services__price {
    font-size: 22px;
    letter-spacing: -0.66px;
    top: 31px;
    left: 32px;
  }
  .services__order-btn {
    margin-top: 128px;
  }
}
@media (max-width: 425px) {
  .services {
    padding-top: 80px;
    padding-bottom: 116px;
  }
  .services__container {
    padding-left: 13px;
    padding-right: 13px;
  }
  .services__content {
    row-gap: 94px;
  }
  .services__subtitle {
    font-size: 14px;
    letter-spacing: -0.42px;
    padding-bottom: 20px;
  }
  .services__img-block {
    width: 100%;
    height: 240px;
  }
  
  .services__price {
    font-size: 14px;
    letter-spacing: -0.42px;
    top: 23px;
    left: 24px;
  }
  .services__img-description {
    font-size: 18px;
    letter-spacing: -0.54px;
    margin-top: 10px;
  }
  .services__order-btn {
    padding: 36px 0;
    font-size: 22px;
    letter-spacing: -0.66px;
    margin-top: 93px;
  }
}
