/* services */

.main__services_container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #121212;
    padding-left: 125px;
    padding-right: 125px;
}
.services__subtitle {
    color: #FFF;
    font-size: 18px;
    letter-spacing: -0.54px;
    padding-top: 150px;
    padding-bottom: 30px;
}
.services_inner_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 145px;
    margin-bottom: 170px;
}

.services__img {
    width: calc(50% - 5px);
    height: 388px;
    position: relative;
}
.services__img img {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 25px;
}
.services_price {
    padding: 5px 20px;
    border-radius: 5px;
    background: #AD1818;
    position: absolute;
    color: #FFF;
    font-size: 22px;
    letter-spacing: -0.66px;
    top: 31px;
    left: 30px;
}
.img__description {
    color: #FFF;
    font-size: 30px;
    letter-spacing: -0.9px;
}
.btn_order-service {
    background: #AD1818;
    padding: 56px 0;
    width: 100%;
    font-size: 30px;
    letter-spacing: -0.9px;
    line-height: normal;
    color: #FFF;
    border-radius: 5px;
    margin-bottom: 150px;
}
.btn_order-service:hover {
    cursor: pointer;
    color: #AD1818;
    background: none;
    border: 1px solid #AD1818;
}

@media (max-width: 960px) {
    .main__services_container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .services_inner_wrapper {
        row-gap: 129px;
        margin-bottom: 128px;
    }
    .services_price {
        font-size: 22px;
        letter-spacing: -0.66px;
        top: 31px;
        left: 32px;
    }
    .btn_order-service {
        margin-bottom: 120px;
    }
}
@media (max-width: 425px) {
    .main__services_container {
        padding-left: 13px;
        padding-right: 13px;
    }
    .services_inner_wrapper {
        row-gap: 94px;
        margin-bottom: 93px;
    }
    .services__subtitle {
        font-size: 14px;
        letter-spacing: -0.42px;
        padding-top: 80px;
        padding-bottom: 20px;
    }
    .services__img {
        width: 100%;
        height: 240px;
    }
    .services__img img {
        margin-bottom: 10px;
    }
    .services_price {
        font-size: 14px;
        letter-spacing: -0.42px;
        top: 23px;
        left: 24px;
    }
    .img__description {
        font-size: 18px;
        letter-spacing: -0.54px;
    }
    .btn_order-service {
        padding: 36px 0;
        font-size: 22px;
        letter-spacing: -0.66px;
        margin-bottom: 116px;
    }
}
