@import "./about-us.css";
@import "./projects.css";
@import "./services.css";
@import "./feedback.css";
@import "./gallery.css";
@import "./contacts.css";
@import "./header.css";
@import "./hero.css";
@import "./footer.css";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  background: #fff;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}
