@import "./about-us.css";
@import "./section_projects.css";
@import "./services.css";
@import "./feedback.css";
@import "./gallery-projects.css";
@import "./contacts.css";

html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Manrope', sans-serif;
    background: #FFF;
}
.header {
    width: 1150px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    margin-bottom: 73px;
}
.logo__img {
    width: 126.889px;
    height: 21.42px;
}
.nav-link a {
    margin-right: 60px;
    text-decoration: none;
    color: #121212;
}
a:last-child {
    margin-right: 0px;
}
a:hover {
    text-decoration: underline;
}

/* main */
/* .apartment_project {
    background-image: url('../resources/img/Rectangle 10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 717px;
    position: relative;
}
.apartment_project__box_description {
    width: 443px;
    position: absolute;
    left: 125px;
    bottom: 60px;
}
.apartment_project__description {
    color: #FFF;
    font-size: 30px;
} */





footer {
    max-width: 1400px;
    margin: 0 auto;
    background: #121212;
    /* height: 229px; */
}
.footer__inner {
    display: flex;
    justify-content: center;
}
.footer__nav {
    display: flex;
    justify-content: center;
    padding-top: 60px;  
}
.footer__nav a {
    display: block;
    color: #FFF;
    font-size: 18px;
    text-decoration: none;
}
.footer__nav a:hover {
   opacity: 0.5;
}
.footer__nav a:not(:last-child) {
    margin-right: 53px;
}
.footer__nav_active{
    opacity: 0.5;
}
.nav-footer_description {
    color: #FFF;
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
    margin-top: 87px;
    padding-bottom: 30px;
}
@media (max-width: 960px) {
    footer {
        max-width: 100%;

    }
}
@media (max-width: 425px) {
    .footer__nav {
        padding-top: 30px;  
    }
    .footer__nav a {
        font-size: 12px;
    }
    .footer__nav a:not(:last-child) {
        margin-right: 30px;
    }
    .nav-footer_description {
        font-size: 13px;
        margin-top: 41px;
        padding-bottom: 26px;
    }
}



